@charset "UTF-8";
.closeBanner{
	position: absolute;
	right:120px;
	top:10px;
}
.honor-header{
	width:100%;
}
.honor-top{
	width: 1200px;
	height: 72px;
	margin: 0 auto;
}
.honor-logo{
	float: left;
}
.honor-logo img{
	height: 36px;
}
#naver-list{
	float: left;
	width: 500px;
	margin-top: 28px;
	margin-left: 40px;
}
#naver-list li{
	float: left;
	padding-left: 11px;
	padding-right: 11px;
}
#naver-list span{
	color:#000;
	font-size: 16px;
	padding-bottom: 5px;
}
#naver-list a:hover span{
	color:#00b5e2;
	border-bottom: 2px solid #00b5e2;
}
#naver-list a:hover{
	text-decoration: none;
}
.search-bar{
	margin-top:20px;
	width: 330px;
	height:30px;
	float: right;
	position: relative;
}
.search-bar-text{
	width: 320px;
	height:30px;
	padding-left: 20px;
	background: #f5f5f5;
	border: none;
	border-radius: 20px;
}
.search-bar-button{
	position: absolute;
	width:30px;
	height: 30px;
	background-image: url(../img/honorsearch.png);
	border: none;
	border-radius: 50%;
	right:10px;
}
.search-bar-key{
	position: absolute;
	top:6px;
	right:50px;
}
.searchBar-key a{
	padding:10px;
}
.searchBar-key a:hover{
	color: #00b5e2;
	text-decoration: none;
}
.nav-content{
	width:100%;
	height:0;
	border-top:1px solid #f5f5f5;
	border-bottom:1px solid #f5f5f5;
	position: absolute;
	background: #FFFFFF;
	z-index: 3;
	overflow: hidden;
}
.nav-box{
	width: 1200px;
	height:276px;
	margin: 0 auto;
	display: none;
}
.nav-box-show{
	display: block;
}
.nav-box-title{
	width: 1200px;
	float:left;
} 
.nav-box-title li{
	float:left;
	padding: 20px;
	font-size: 14px;
}
.nav-box a:hover{
	color:#00b5e2;
}
.nav-box-content{
	display: block;
} 
.nav-box-content li{
	float:left;
	width:170px;
	height:206px;
	text-align: center;
}
.nav-box-content img{
	width:120px;
	height: 120px;
	margin-top:20px;
	margin-bottom:20px;
}
.nav-box-content h3{
	font-size: 14px;
}
.nav-box-content p{
	font-size: 14px;
	color: #ca141d;
}
.nav-box-content a:hover p{
	color: #ca141d;
}
.timeOut{
	width: 100%;
	height: 60px;
	background: #f04d4e;
}
.timeOut-box{
	width: 540px;
	color: white;
	font-size: 20px;
	line-height: 60px;
	margin: 0 auto;
}
.timeOut-box img{
	margin-top: -5px;		
}
.timeOut-box span{
	padding-left: 4px;
	padding-right: 4px;
	color:#f04d4e;
	background: white;
}
.title {
	width: 1200px;
	margin: 0px auto;
    text-align: center;
    margin-bottom: 18px;
    margin-top: 60px;
    position: relative;
}
.title span{
	border-bottom: 4px solid #990000;
	position: absolute;
	width:26px;
	left:50%;
	margin-left:-13px;
	margin-top:-46px;
}
.title h1{
	font-size: 30px;
}
.title p{
	font-size:14px;
	color:#717171;
	text-align: center;
	line-height: 36px;
}
.my-slide01 {
    height: 268px;
    width:1200px;     
    margin: 0 auto;
    border: 1px solid #ececec;
}
.my-slide02 {
    height: 268px;
    width:1200px;     
    margin: 0 auto;
    border: 1px solid #ececec;
}
.my-slide03 {
    height: 268px;
    width:1200px;     
    margin: 0 auto;
    border: 1px solid #ececec;
}
.slide{
	width:243px!important;
	height: 268px;
	border: 1px solid #ececec;
	box-sizing: border-box;
}
.slide img{
	width:120px;
	height:120px;
	margin-top: 40px;
	margin-left: 60px;
}
.slide p{
	text-align: center;
	color: #db5b41;
	font-size: 16px;
	line-height: 120px;
}
.my-slideA:hover{
	width:243px!important;
	text-decoration: none;
	top: -10px;
	box-shadow: 0 10px 10px 0px #ececec;
}
.pf-prev-nav{
	left:0px !important;
}
.pf-next-nav{
	right:0px !important;
}
.phoneBox{
	width: 1210px;
	height: 1020px;
	margin: 50px auto;
}
.phoneBox a{
	color:#000;
}
.phoneBox a:hover{
	color:#000;
}
.img1-p1{
	font-size: 30px;
	margin-top: 40px;
}
.img1-p2{
	font-size: 16px;
	line-height: 40px;
}
.img1-p3{
	font-size: 18px;
}
.phoneBox-line{
	position: absolute;
	width: 24px;
	border-bottom: 2px solid #990000;
	left:25px;
	top:20px;
}
.img2-p1{
	font-size: 20px;
	margin-top: 30px;
	margin-left: 25px;
}
.img2-p2{
	font-size: 14px;
	line-height: 40px;
	margin-left: 25px;
}
.img2-p3{
	font-size: 18px;
	margin-left: 25px;
}
.phoneBox-img1 p{
	text-align: center;
}
.phoneBox-img1{
	float: left;
	margin-left: 10px;
	margin-bottom: 10px;
}
.phoneBox-img2{
	float: left;
	margin-left: 10px;
	margin-bottom: 10px;
	position: relative;
}
.moreA{
	float:right;
	color:#717171;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 14px;
	padding-right: 14px;
	border: 1px solid #717171;
}
.moreA:hover{
	color: #990000;
	border: 1px solid #990000;
	text-decoration: none;	
}
.channel1{
	width: 160px;
	margin: 0px auto;
}
.channel2{
	width: 420px;
	margin: 0px auto;
}
.channel3{
	width: 92px;
	margin: 0px auto;
}
.channel4{
	width: 720px;
	margin: 0px auto;
}
.channel-nav a:hover{
	text-decoration: none;
}
.channel-nav li{
	float: left;
	padding-left:12px;
	padding-right:12px;
}
.channel-nav li a{
	color:#717171;
	font-size:14px;
	line-height: 36px;
}
.channel-nav li a:hover{
	color: #990000;
	text-decoration: none;
}
.honorBox1{
	margin:0 auto;
	margin-top:54px;
	width: 1190px;
	height:649px;
	background-repeat: no-repeat;
	background-image: url(../img/bg01.jpg);
}
.honorBox2{
	margin:0 auto;
	margin-top:54px;
	width: 1190px;
	height:649px;
	background-repeat: no-repeat;
	background-image: url(../img/bg02.png);
}
.honorBox3{
	margin:0 auto;
	margin-top:54px;
	width: 1190px;
	height:649px;
	background-repeat: no-repeat;
	background-image: url(../img/bg03.jpg);
}
.grid-list{
	width: 1190px;
	height: 419px;
}
.grid-items{
	float: left;
	margin-top: 256px;
	width:396px;
	height: 420px;
	text-align: center;
}
.grid-items a:hover{
	text-decoration: none;
}
.grid-sale{
	width:80px;
	margin:12px auto;
	font-size: 16px;
	color: white;
	line-height: 24px;
	background-color: #e16773;
}
.grid-title{
	font-size: 24px;
	color: #222222;
	font-weight: 300;
}
.grid-desc{
	font-size: 18px;
	color: #666666;
}
.price{
	color:#FFFFFF;
	width: 130px;
	height: 36px;
	background: #222222;
	border-radius: 50px;
	margin:24px auto;
}
.price-currency{
	font-size: 16px;
}
.price-amount{
	font-size: 24px;
	font-weight: 600;
}
.grid-pic img{
	width: 186px;
	height: 186px;
}
.surpriseTop{
	width: 1200px;
	height: 73px;
	margin: 0px auto;
	position: relative;
}
.topA{
	position: absolute;
}
.surpriseSprites{
	width: 1188px;
	height: 406px;
	position: relative;
	margin: 0px auto;
}
.surpriseA{
	position: absolute;
}
.buySprites{
	width: 1200px;
	height: 384px;
	position: relative;
	margin: 0px auto;
}
.buyA{
	position: absolute;
}
.video{
	margin: 0px auto;
	width: 1214px;
	height:576px;
}
.videolist1 { 
	position:relative; 
	float:left; 
	width:390px; 
	height:240px; 
	margin-right:7px; 
	margin-left:7px; 
}
.videoTitle1{
	float: left;
	width:390px; 
	height: 70px;
	margin-right:7px; 
	margin-left:7px; 
	border: 1px solid #eaeaea;
	box-sizing: border-box;
	color: #000000;
}
.videoTitle1 p:nth-child(1){
	margin-top: 10px;
	padding-left: 18px;
	font-size: 18px;
	color: #000000;
}
.videoTitle1 p:nth-child(2){
	padding-left: 18px;
	font-size: 14px;
	color: #a4a4a4;
}
.videolist1:hover{ 
	cursor: pointer; 
}
.videoed1 { 
	width:40px; 
	height:40px; 
	position: absolute; 
	left:175px; 
	top:105px; 
	z-index:2; 
	border-radius:100%; 
}
.videolist2 { 
	position:relative; 
	float:left; 
	width:290px; 
	height:180px; 
	margin-top:12px; 
	margin-right:6px; 
	margin-left:7px;       	
}
.videoTitle2{
	float: left;
	width:290px; 
	height: 80px;
	margin-right:6px; 
	margin-left:7px; 
	border: 1px solid #eaeaea;
	box-sizing: border-box;
	color: #000000;  
}
.videoTitle2 p:nth-child(1){
	margin-top: 20px;
	padding-left: 18px;
	font-size: 18px;
	color: #000000;
}
.videoTitle2 p:nth-child(2){
	padding-left: 18px;
	font-size: 14px;
	color: #a4a4a4;
}
.videolist2:hover{ 
	cursor: pointer; 
}
.videoTitle1:hover{
	text-decoration: none;
}
.videoTitle2:hover{
	text-decoration: none;
}
.videoed2 { 
	width:35px; 
	height:35px; 
	position: absolute; 
	left:130px; 
	top:80px; 
	z-index:2; 
	border-radius:100%; 
}	    
.videos{ 
	display:none; 
	position:fixed; 
	left:50%; 
	top:15%; 
	margin-left:-440px; 
	z-index:3; 
	border:0px;
}
.vclose { 
	position:absolute;
	right:1%; 
	top:1%; 
	border-radius:100%; 
	cursor: pointer; 
}
.poke{
	margin:0px auto;
	background-color: #fffcf6;
	width:100%;
}	
.rotateBox{
	margin: 0px auto;
	width: 1100px;
	height:575px;
}
.rotateBox img{
	display: block;
}
.rightBox{
	width:352px;
	height:508px;
	background-color: #fff9ee;
	border:1px solid #f9dfb7;
	border-radius: 10px;
	float:right;
	position: relative;
	margin-top:34px;
}
.rule{
	width:267px;
	height:156px;
	margin:0px auto;
}
.rule p{
	color:#908c8a;
	font-size: 14px;
	line-height: 24px;
	margin:0px;
}
.nameList{
	width:269px;
	height:150px;
}
.rightBox img{
	display: block;
	margin:30px auto;
	margin-bottom: 10px;
}
.rightBox a{
	color:#ea380f;
	font-size: 14px;
	padding-right: 100px;
}
.rightBox a:hover{
	text-decoration: none;
}
.nameList{
	width:264px;
	height: 145px;
	overflow: hidden;
	line-height: 26px;
	margin-left: 44px;
}
.nameList ul{
	color:#3a3a3a;
	font-size: 14px;
}
.nameList li{
	height: 50px;
}
.nameListPhone{
	display: block;
	float: left;
	width: 80px;
	height: 46px;
	line-height: 26px;
}
.nameListKind{
	display: block;
	float: right;
	width: 146px;
	height: 46px;
	line-height: 26px;
}
.detail{
	width: 698px;
	height: 590px;
	background-image: url(img/detail.png);
	position:fixed;
	left: 50%;
	top: 50%;
	margin-top:-295px;
	margin-left:-349px;
	display: none;
	z-index: 3;
}
.detail h1{
	color: #c9a782;
	font-size: 30px;
	line-height: 120px;
	text-align: center;
}
.detailHidden{
	margin: 0 auto;
	width:561px;
	overflow: hidden;
}
.detailContent{
	width:578px;
	height: 382px;
	overflow: hidden;
	overflow-y:scroll;
}
.detailContent::-webkit-scrollbar {
    display: none;
}
.detailContent p{
	color: #908c8a;
	font-size: 14px;
	line-height: 28px;
}
.detailBtn{
	width:258px;
	height:50px;
	font-size: 26px;
	color: white;
	background:#c9a780;
	border-radius: 50px;
	border: none;
	position: absolute;
	left:50%;
	margin-left: -129px;
	bottom: 4px;
}
.detailClose{
	position: absolute;
	right: -50px;
	top:0px;
	width:30px;
	height: 30px;
}
.rotateResult{
	width: 460px;
	height: 262px;
	background-color: #ffffff;
	position:fixed;
	left: 50%;
	top: 50%;
	margin-top:-131px;
	margin-left:-230px;
	display: none;
	z-index: 3;
}
.smileFace{
	margin: 38px auto;
	margin-bottom: 0px;
	width:71px;
	height:71px;
	display: block;
}
.resultContent{
	font-size: 14px;
	text-align: center;
	line-height: 70px;
}
.resultBtn{
	margin: 0px auto;
	width: 176px;
	height: 47px;
	color: #fff;
	background: #ca141d;
	border-radius: 2px;
	display: block;
	border:none;
	font-size: 18px;
}
.resultClose{
	position: absolute;
	right: 10px;
	top:10px;
}
.Y-content {
	width: 715.5px;
    height: 508px;
  	float: left;
  	position: relative;
  	left: 234px;
	top: 174px;
	margin-top:34px;
}
.Y-content .item {
	width: 220px;
	height: 160px;
	position: absolute;
	z-index: 1;
}
.Y-content .item .parent {
    transform-style: preserve-3d;
    perspective-origin: center;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    position: relative; 
}
.Y-content .item .parent .face {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: rotateY(0deg);
}
.Y-content .item .parent .face img{
	width: 220px;
	height: 160px;
}
.Y-content .item .parent .back {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: rotateY(0deg) translateZ(-1px);
}
.Y-content .item .parent .back img{
	width: 220px;
	height: 160px;
}
.Y-content .selectBox {
    width: 220px;
    height: 160px;
    z-index: 0;
}
#face img{
	width: 144px;
	height: 144px;
	position: absolute;
	margin-top: 7px;
	margin-left:38px;
}
.tip{
	width: 50px;
	height: 500px;
	position: fixed;
	right: 30px;
	top: 30px;
	background: #f5f5f5;
	display: none;
}
.tip>ul{
	width: 50px;
	height: 50px;
}
.tip>ol{
	width: 50px;
	height: 400px;
}
.tip li{
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height::25px;	
	border-bottom: 1px solid while;
	box-sizing: border-box;
	cursor: pointer;
}
.tip li:hover{
	background: darkcyan;
	color: white;
}